## gradle
/.gradle
/build

## ForgeGradle
/run
/mcmodsrepo

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/classes

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

## Misc
/src/main/resources/doc
/src/main/resources/reference
*.bak
