# LivingEntity.jumping (was EntityLivingBase.isJumping / f_20899_)
public net.minecraft.world.entity.LivingEntity jumping
# DispenserBlock.DISPENSER_REGISTRY
public net.minecraft.world.level.block.DispenserBlock DISPENSER_REGISTRY
